/* This style sheet is adapted from the one created by Arshin Jain for Spectra Hackathon. */

/* ---------------------------------------------- /*
 * General styles
/* ---------------------------------------------- */

@import url(fonts.googleapis.com/css?family=Montserrat:400,700);
/* @import url(https://fonts.googleapis.com/css?family=Raleway); */
/* @import url(https://fonts.googleapis.com/css?family=Raleway); */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato);
/* @import url(http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext); */
/* @import url(https://use.typekit.net/czs6irp.css) */


  
body {
	/* font: 700 18px/1.6 'Raleway', serif, sans-serif; */
	/* font: 700 18px/1.6 'Lato', serif, sans-serif; */
	font: 500 18px/1.6 'Lato', serif, sans-serif;
	/* font: 700 15px/1.6 'Raleway', serif, sans-serif; */
	color: #545454;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: #439145;
}

a:hover {
	color: #C4C4C4;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
	/* font: 700 46px/1.2 'Raleway', serif, sans-serif; */
	font: 700 46px/1.2 'Lato', serif, sans-serif;
	margin: 5px 0 5px;
	color: #222;
	text-transform: uppercase;
}

h1 {
	font-size: 60px;
	font-weight: 700;
	margin: 5px 0 5px;
	color: #333;
	opacity: 90%;
}

h2 {
	font-size: 40px;
	font-weight: 700;
}

h3 {
	font-size: 22px;
	text-transform: uppercase;
	margin: 5px 0 15px;
}

h4 {
	font-size: 16px;
	margin: 5px 0 10px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 13px;
}

/* Transitions */

a,
.navbar,
.form-control {
	-webkit-transition: all 0.125s ease-in-out 0s;
	   -moz-transition: all 0.125s ease-in-out 0s;
		-ms-transition: all 0.125s ease-in-out 0s;
		 -o-transition: all 0.125s ease-in-out 0s;
			transition: all 0.125s ease-in-out 0s;
}


/* General */

.wrapper {
	height: 100%;
}

.section {
	position: relative;
	padding: 50px 0;
}

/* Navbar */

.navbar {
	background: none;
	border-radius: 0;
	border: 0;
	padding: 20px 0;
	text-transform: uppercase;
	color: #FFF !important;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
	background: none;
	outline: 0;
	color: #33CC00;
}


.navbar-custom .navbar-brand {
	/* font: 700 18px/1.2 'Raleway', serif, sans-serif; */
	font: 700 18px/1.2 'Lato', serif, sans-serif;
	color: #FFF;
}

.navbar-custom .navbar-nav > li.active {
	border-bottom: 3px solid #FFF;
}

.navbar-custom .navbar-toggle .icon-bar {
	background: #FFF;
}

.navbar-custom .navbar-nav > li > a,
.navbar-custom .navbar-nav .dropdown-menu > li > a {
	color: #FFF;
	font-size: 16px;
}

.navbar-color,
.custom-collapse {
	background: #FFF;
	box-shadow: 0 0 4px rgba(0, 0, 0, .2);
	padding: 0;
}

.navbar-color .navbar-brand,
.custom-collapse .navbar-brand,
.navbar-color .navbar-nav > li > a,
.navbar-color .navbar-nav .dropdown-menu > li > a,
.custom-collapse .navbar-nav > li > a,
.custom-collapse .navbar-nav .dropdown-menu > li > a {
	color: #222;
}

.navbar-color .navbar-nav > li.active {
	border-bottom: 3px solid #222;
}

.custom-collapse .navbar-nav {
	text-align: left;
}

.custom-collapse .navbar-nav > li.active {
	border: 0;
}

.navbar-color .navbar-toggle .icon-bar,
.custom-collapse .navbar-toggle .icon-bar {
	background: #222;
}


/* ---------------------------------------------- /*
 * Contact
/* ---------------------------------------------- */

#contact {
	background: #000;
	color: #FFF;
	height: 100%;
}

#contact h1, #contact h2, #contact h3, #contact h4, #contact h5, #contact h6 {
	color: #FFF;
}


/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */

#preloader {
	background: #FFF;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;
}

#status, .status-mes {
	background-image: url(../lib/images/488.GIF);
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;
	left: 50%;
	margin: -100px 0 0 -100px;
	position: absolute;
	top: 50%;
	width: 200px;
}

.status-mes {
	background: none;
	left: 0;
	margin: 0;
	text-align: center;
	top: 65%;
}

.status-mes h4 {
	color: #222;
	margin-top: 30px;
}

.profile-pic {
	border-radius: 50%;
	border-collapse: separate;
	max-width: 50%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.center {
	text-align: center;
}

.contact-bar {
	vertical-align: middle;
}

.well {
    min-height: 20px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
	box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
	margin-left: auto;
	margin-right: auto;
	max-width: 95%;
}

.paper-well {
    min-height: 170px;
}

.pull-left {
    float: left!important;
}

.paper_summary {
	vertical-align: middle;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}


